In [12]:
import warnings
warnings.filterwarnings('ignore')

# Import required libraries
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

# Set the decimal format
pd.options.display.float_format = "{:.2f}".format

### Split the Data into Training and Testing Sets

#### Step 1: Read the `diabetes_prediction_dataset.csv` data into a Pandas DataFrame

In [13]:
diab_pred_df = pd.read_csv(Path('Resources/diabetes_prediction_dataset.csv'))
diab_pred_df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.00,0,1,never,25.19,6.60,140,0
1,Female,54.00,0,0,No Info,27.32,6.60,80,0
2,Male,28.00,0,0,never,27.32,5.70,158,0
3,Female,36.00,0,0,current,23.45,5.00,155,0
4,Male,76.00,1,1,current,20.14,4.80,155,0

In [14]:
diab_pred_df.count()

gender                 100000
age                    100000
hypertension           100000
heart_disease          100000
smoking_history        100000
bmi                    100000
HbA1c_level            100000
blood_glucose_level    100000
diabetes               100000
dtype: int64

In [15]:
diab_pred_df.smoking_history.value_counts()

No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: smoking_history, dtype: int64

In [16]:
diab_pred_df.gender.value_counts()

Female    58552
Male      41430
Other        18
Name: gender, dtype: int64

In [17]:
# Dropped the rows which in the `smoking_history` had `ever` (ambiguous) or `No Info` and `gender` had `Other` from the Database
df1 = diab_pred_df[(diab_pred_df.smoking_history != 'ever') & (diab_pred_df.smoking_history != 'No Info') & (diab_pred_df.gender != 'Other')]

In [18]:
df1.count()

gender                 60169
age                    60169
hypertension           60169
heart_disease          60169
smoking_history        60169
bmi                    60169
HbA1c_level            60169
blood_glucose_level    60169
diabetes               60169
dtype: int64

In [19]:
df1.diabetes.value_counts()

0    53595
1     6574
Name: diabetes, dtype: int64

In [20]:
df1.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.00,0,1,never,25.19,6.60,140,0
2,Male,28.00,0,0,never,27.32,5.70,158,0
3,Female,36.00,0,0,current,23.45,5.00,155,0
4,Male,76.00,1,1,current,20.14,4.80,155,0
5,Female,20.00,0,0,never,27.32,6.60,85,0

In [ ]:
# Change the `smoking_history` column to integers